
<ul>
   {% for post in results %}
        <li>{{ post.postAuthor }}</li>
        <li>{{ post.postTitle }}</li>
        <li>{{ post.postBody }}</li>
        <a href="{{ path('show_post', { 'id': post.id })}}">View Post</a>
        <br>
        <br>
    {% endfor %}
        <a href="{{ path('create_post')}}">Create New Post</a>
        <br>
        <a href="{{ path('homepage')}}">Home</a>
</ul>