<ul>
        <li>{{ post.postAuthor }}</li>
        <li>{{ post.postTitle }}</li>
        <li>{{ post.postBody }}</li>
        <br>
</ul>
            <a href="{{path('homepage')}}">Back to Posts</a>
            <a href="{{path('edit_post', { 'id': post.id })}}">Edit Post</a>