{% extends 'basis.html.twig' %}

{% block main_content %}
<div class="article_wrapper display_page">

        <div class="meta_wrapper">
                <h1>{{ post.postAuthor }}</h1>
                <h2>{{ post.postTitle }}</h2>
        </div>


        <h5>{{ post.postBody }}</h5>
        <br>
            <a href="{{path('homepage')}}">Back to Posts</a>
            <a href="{{path('edit_post', { 'id': post.id })}}">Edit Post</a>
</div>
        
{% endblock %}